*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html,body{height: 100%;}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.clear{clear: both;}

/* INICIO HEADER */

header{padding: 20px 2%;}

header nav.desktop{float: right; position: relative; top: 30px;}

header nav.mobile{
    display: none;
    float: right;
}

nav.mobile ul{
    z-index: 999;
    width: 100%;
    position: absolute;
    text-align: center;
    background-color: rgb(221, 221, 221);
    left: 0;
    top: 110px;
    display: none;
}

nav.mobile li{
    list-style: none; 
    color: black;
    font-size: 20px;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

nav.mobile a{display: block;}

nav.mobile li:hover{background-color: white;}

nav.mobile h2{font-size: 30px; position: relative; top: 30px; cursor: pointer;}

header .logo{float: left;}

header nav.desktop ul{list-style: none;}

header nav.desktop li{float: left; padding: 0 30px; font-size: 23px;}

header nav a{text-decoration: none; color: black;}

/* FIM HEADER */

/* INICIO BANNER */

section.banner{
    width: 100%;
    height: 80vw;
    min-height: 600px;
    max-height: 800px;
    background-color: black;
    background-image: url(../images/bg.jpg);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.text-banner{
    padding: 100px;
    margin-top: 10px;
}

.text-single{
    width: 300px;
    height: 50px;
    margin-top: 20px;
    color: white;
    padding: 8px 30px;
    background-image: url(../images/box-text.png);
    background-size: 100% 100%;
    font-size: 23px;
    text-transform: uppercase;
    font-style: italic;
}

.text-single:nth-of-type(2){
    width: 250px;
    position: relative;
    left: -10px;
}

.text-single:nth-of-type(3){
    width: 200px;
    position: relative;
    left: -15px;
}

.text-single:nth-of-type(4){
    width: 310px;
    color: black;
    padding: 8px 15px;
    position: relative;
    left: -20px;
    height: 50px;
    background-image: url(../images/box-white-text.png);
}

/* FIM BANNER */

/* INICIO VITRINE */

section.veiculos-destaque{padding: 90px 2%;}
section.veiculos-destaque .line-tittle h2{
    position: relative;
    text-align: center; 
    font-size: 24px; 
    font-style: italic;
    display: inline-block;
    background-color: white;
    padding: 0 20px;
}

.line-tittle{
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
}

.ln1{
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: black;
    top: 20px;
}

section.veiculos-destaque > .container{
    max-width: 1000px;
    padding: 40px 0;
}

.vitrine-destaque{
    float: left;
    width: 33.3%;
}

.vitrine-destaque .carro-img{
    padding-top: 100%;
    width: 100%;
    background-size: 100% 100%;
    border: 8px solid white;
}

.vitrine-destaque h2{
    padding-left: 8px;
    color: black;
    font-style: italic;
    font-size: 20px;
}

.vitrine-destaque p{
    padding-left: 8px;
    padding-top: 8px;
    color: black;
    font-size: 17px;
}

.vitrine-destaque .btn1{
    text-align: center;
    display: inline-block;
    margin-top: 8px;
    padding-top: 8px;
    text-align: center;
    width: 150px;
    height: 40px;
    background-color: rgb(216, 60, 60);
    margin-left: 8px;
    color: white;
    text-decoration: none;
}

/* FIM VITRINE */

/* INICIO SERVICOS E DEPOIMENTOS */

.servicos-descricao{display: flex;}

.half1{
    width: 50%;
    padding: 90px 2%;
    background-color: #242424;
    color: white;
    text-align: right;
}

.half1-wraper{
    text-align: left;
    display: inline-block;
    padding-right: 100px;
}

.half1-wraper h2{
    font-style: italic;
    font-size: 32px;
}

.half1-wraper ul{
    margin-top: 20px;
    display: inline-block;
}

.half1-wraper li{
    margin-left: 15px;
}

.btn1{
    display: inline-block;
    padding-top: 8px;
    text-align: center;
    width: 100px;
    height: 40px;
    background-color: rgb(216, 60, 60);
    margin-left: 8px;
    color: white;
    text-decoration: none;
}

.half2{
    width: 50%;
    padding: 90px 6%;
    background-color: #eb2d2d;
    color: white;
}

.half2 h2{
    font-style: italic;
    font-size: 32px;
}

.half2 .depoimento-single{margin-top: 20px;}

.half2 .depoimento-single p{font-size: 22px; text-align: justify;}

.navigation{margin-top: 20px; width: 100%; max-width: 600px;}
.navigation i{margin: 0 20px 0 0; cursor: pointer; font-size: 25px; float: left;}

.navigation .nome-depoimento{float: right; font-size: 23px;}

/* FIM DA SESSAO DE SERVICOS */

/* INICIO DA SESSAO CONTATO */

section.form-contato{padding: 80px 2%;}

section.form-contato .line-tittle h2{
    position: relative;
    text-align: center; 
    font-size: 24px; 
    font-style: italic;
    display: inline-block;
    background-color: white;
    padding: 0 20px;
}

section.form-contato .line-tittle{
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
}

section.form-contato > .container{max-width: 700px;}

section.form-contato form{max-width: 600px; margin: 50px auto;}

section.form-contato .input-wraper{
    float: left;
    padding: 10px;
}

section.form-contato .input-wraper input[type=text],
section.form-contato .input-wraper input[type=email],
section.form-contato .input-wraper input[type=tel]{
    width: 100%;
    border: 1px solid #ccc;
    height: 40px;
    outline: none;
    line-height: 40px;
    padding: 0 10px;
    font-size: 17px;
}

.w100{width: 100%;}
.w50{width: 50%;}

section.form-contato textarea{
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 10px;
    line-height: 40px;
    font-size: 17px;
}

.btn-form{text-align: center;}

section.form-contato input[type=submit]{
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 40px;
    background-color: rgb(216, 60, 60);
    margin-left: 8px;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* FIM SESSAO CONTATO */

/* FOOTER */

footer{padding: 40px 2%; background-color: #252525;}

footer nav{float: left;}

footer nav ul{list-style: none;}

footer nav ul li{float: left; padding: 0 20px;}

footer nav ul li a {text-decoration: none; color: white; font-size: 20px;}

footer p{float: right; color: white; font-size: 20px;}

/* MEDIA SCREEN */

@media screen and (max-width: 1400px){
    section.banner{
        background-size: 90% auto;
        background-position: 200% 100%;
    }
}

@media screen and (max-width: 1024px){
    section.banner{
        background-size: cover;
        background-position: center;
        height: 70vw;
        min-height: 500px;
    }
}

@media screen and (max-width: 900px){
    .half1-wraper a{
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }
}

@media screen and (max-width: 768px){
    section.servicos-descricao{
        flex-direction: column;
    }

    .half1{width: 100%; text-align: center;}
    .half1-wraper{padding-right: 0;}
    .half2{width: 100%;}

    .w50{width: 100%;}

    footer nav{display: none;}

    footer p{text-align: center; float: none;}
}

@media screen and (max-width: 720px){
    nav.desktop{display: none;}

    header nav.mobile{display: block;}
}

@media screen and (max-width: 580px){
    .text-banner{padding: 30px;}

    .text-single{
        padding: 10px 30px;
        font-size: 18px;
    }

    section.veiculos-destaque > .container{text-align: center;}

    .vitrine-destaque{
        float: none;
        display: inline-block;
        width: 80%;
        margin-bottom: 20px;
    }

    .vitrine-destaque a{display: inline-block;}
}

@media screen and (max-width: 480px){
    .vitrine-destaque{width: 100%;}
}

@media screen and (max-width: 425px){
    .text-single{
        width: 250px;
    }
    
    .text-single:nth-of-type(2){
        width: 200px;
    }
    
    .text-single:nth-of-type(3){
        width: 150px;
    }

    .text-single:nth-of-type(4){
        width: 250px;
    }
    
}